mixin webtoon(webtoon)
    div
        form(action=`/toon/${webtoon.id}`)=webtoon.title
            div
                img(src="#", alt="webtoon-img")
                




        h4
            a(href=`/toon/${webtoon.id}`)=webtoon.title
        p=webtoon.description
        ul
            each hashtag in webtoon.hashtags
                li=hashtag
        small=webtoon.createdAt
        hr