extends base.pug

block content
    a(href=`${toon.id}/delete`) Delete Webtoon &rarr;
    br
    a(href=`${toon.id}/edit`) Edit Webtoon &rarr;
    div(style='margin-bottom: 30px;')
        div
            img(src="public/images/kakao/k_악녀의_남주님.png" width='300' height='300')
        div
            div
                a(style='margin-bottom: 6px;')=toon.title
                a(style='margin-bottom: 6px;')=toon.writer
                a(style='margin-bottom: 6px;')=toon.title
            div
                p(style='margin-bottom: 6px;')=toon.rating
                span ★
                |  평점
            div
                p(style='margin-bottom: 6px;') 키워드
                p=toon.hashtags

            div(style='height: 50px;')
                h3(style='margin-bottom: 6px;') 줄거리
                p=toon.plot
            div
                h3(style='margin-bottom: 6px;') 연재처
                p=toon.hashtags
