extends base.pug
include mixins/hashtag.pug

block content
    link(rel='stylesheet' href='../public/stylesheets/toon_info.css')
    .toon
        .thumb
            img(src="../"+toon.thumbnailUrl width='300' height='300')
        .detail
            div
                a(style='margin-bottom: 6px;')=toon.title 
                |  | 
                a(style='margin-bottom: 6px;')=toon.writer
            div
                p(style='margin-bottom: 6px;')=toon.rating
                span ★
                |  평점
            div
                p(style='margin-bottom: 6px;') 키워드
                +hashtag(hashtag)

            div
                h3(style='margin-bottom: 6px;') 연재처
                if (`${toon.platform}`.includes('comic.naver.com')) 
                    a(href=`${toon.platform}` target='_blank') 네이버
                else if (`${toon.platform}`.includes('lezhin.com'))
                    a(href=`${toon.platform}` target='_blank') 레진
                else if (`${toon.platform}`.includes('webtoon.kakao.com'))
                    a(href=`${toon.platform}` target='_blank') 카카오웹툰
                
    .plot(style='height: 50px;')
        h3(style='margin-bottom: 6px;') 줄거리
        text=`${toon.plot}`
                

    a(href=`${toon.id}/delete`) Delete Webtoon &rarr;
    br
    a(href=`${toon.id}/edit`) Edit Webtoon &rarr;
    