extends base.pug

block content
    div(style='margin-bottom: 30px;')
        div
            img(src="../"+toon.thumbnailUrl width='300' height='300')
        div
            div
                a(style='margin-bottom: 6px;')=toon.title 
                |  | 
                a(style='margin-bottom: 6px;')=toon.writer
            div
                p(style='margin-bottom: 6px;')=toon.rating
                span ★
                |  평점
            div
                p(style='margin-bottom: 6px;') 키워드
                p=toon.hashtags

            div(style='height: 50px;')
                h3(style='margin-bottom: 6px;') 줄거리
                p=toon.plot
            div
                h3(style='margin-bottom: 6px;') 연재처
                a(href=`${toon.platform}`).link=toon.platform
                

    a(href=`${toon.id}/delete`) Delete Webtoon &rarr;
    br
    a(href=`${toon.id}/edit`) Edit Webtoon &rarr;
    
    script(src="../public/javascripts/platformButton.js")